* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko";
}
.clock-style {
    width: 400px;
    height: 300px;
    margin: 200px auto;
    border-radius: 50px;
    background: linear-gradient(rgb(255, 222, 125),rgba(137, 229, 107, 0.444),rgb(107, 176, 229));
    box-shadow: 0 1px 8px rgba(147, 140, 82, 0.632);
    display: flex;
    justify-content: center;
    align-items: center;
    #time {
        width: 380px;
        height: 280px;
        border-radius: 50px;
        background-color: rgba(237, 248, 248, 0.878);
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 7px;
        font-size: 90px;
        font-weight: 500;
        color: rgb(16, 64, 111);
        text-shadow: 2px 2px 10px rgba(159, 218, 255, 0.759);
    }
}
